<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :volanta %>
    <%= form.text_field :volanta %>
  </div>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="">
    <%= form.label :imagedos %>
    <%= form.file_field :imagedos %>
  </div>

  <div class="field">
    <%= form.label :bajada %>
    <%= form.text_field :bajada %>
  </div>

  <div class="field">
    <%= form.label :autor %>
    <%= form.text_field :autor %>
  </div>

  <div class="field cuerpo">
    <%= form.label :cuerpo %>
    <%= form.rich_text_area :cuerpo %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.select :area, options_for_select([['n','n'],['d','d'],['u','u']], selected: article.area) %>
  </div>

  <div class="field">
    <%= form.label :ubicacion %>
    <%= form.select :ubicacion, options_for_select([['1','1'],['2','2'],['3','3'],['4','4'],
      ['5','5'],['6','6'],['7','7'],['8','8']], selected: article.ubicacion) %>
  </div>

  <div class="field">
    <%= form.label :seccion %>
    <%= form.select :seccion, options_for_select([['Naturaleza','naturaleza'],['Literatura','literatura']], selected: article.seccion) %>
  </div>

  <div class="field">
  <%= form.label :publicado %>
    <%= form.select :publicado, options_for_select([['Sí','si'],['No','no']], selected: article.publicado) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
