<article class="urgente__home" >
  <% if @urgente.present?%>
      <div class="urgente">
        <%= @urgente.titulo %>
      </div>
  <% end %>
</article>

<% if @destacado.present?%>
  <article class="destacado__home">
    <h2>
      <%= link_to @destacado.titulo, @destacado %>
    </h2>
    <% if @destacado.image.present? %>
      <div style="width:300px; height:auto" >
        <%= link_to image_tag(@destacado.image, style:'width:100%'), @destacado %>
      </div>
    <% end %>
  </article>
<% end %>

<% if @a1.present? %>
    <article class="normal__home a1">
      <h2>
        <%= link_to @a1.titulo, @a1 %>
      </h2>
      <% if @a1.image.present? %>
        <div style="width:300px; height:auto" >
          <%= link_to image_tag(@a1.image, style:'width:100%'), @a1 %>
        </div>
      <% end %>
    </article>
<% end %>

<% if @a2.present? %>
    <article class="normal__home a2">
      <h2>
        <%= link_to @a2.titulo, @a2 %>
      </h2>
      <% if @a2.image.present? %>
        <div style="width:300px; height:auto" >
          <%= link_to image_tag(@a2.image, style:'width:100%'), @a2 %>
        </div>
      <% end %>
    </article>
<% end %>

<% if @a3.present? %>
    <article class="normal__home a3">
      <h2>
        <%= link_to @a3.titulo, @a3 %>
      </h2>
      <% if @a3.image.present? %>
        <div style="width:300px; height:auto" >
          <%= link_to image_tag(@a3.image, style:'width:100%'), @a3 %>
        </div>
      <% end %>
    </article>
<% end %>

<% if @a4.present? %>
    <article class="normal__home a4">
      <h2>
        <%= link_to @a4.titulo, @a4 %>
      </h2>
      <% if @a4.image.present? %>
        <div style="width:300px; height:auto" >
          <%= link_to image_tag(@a4.image, style:'width:100%'), @a4 %>
        </div>
      <% end %>
    </article>
<% end %>

<% if @a5.present? %>
    <article class="normal__home a5">
      <h2>
        <%= link_to @a5.titulo, @a5 %>
      </h2>
      <% if @a5.image.present? %>
        <div style="width:300px; height:auto" >
          <%= link_to image_tag(@a5.image, style:'width:100%'), @a5 %>
        </div>
      <% end %>
    </article>
<% end %>

<% if @a6.present? %>
    <article class="normal__home a6">
      <h2>
        <%= link_to @a6.titulo, @a6 %>
      </h2>
      <% if @a6.image.present? %>
        <div style="width:300px; height:auto" >
          <%= link_to image_tag(@a6.image, style:'width:100%'), @a6 %>
        </div>
      <% end %>
    </article>
<% end %>