<div class="contenedor__article">

  <div class="volanta__article">
    <%= @article.volanta %>
  </div>
  <div class="titulo__article">
    <%= @article.titulo %>
  </div>
  <% if @article.image.present? %>
      <%= image_tag(@article.image, class:'imagen__article') %>
  <% end %>
  <div class="bajada__article">
    <%= @article.bajada %>
  </div>
  <div class="autor_article">
    <%= @article.autor %>
  </div>
  <div>
    <div class="cuerpo__article">
      <%= @article.cuerpo %>
    </div>
  </div>

  <% if @article.imagedos.present? %>
    <div style="width:300px; height:auto" >
      <%= image_tag(@article.imagedos, class:'imagen__article') %>
    </div>
  <% end %>

  <% if @isAdmin %>
    <%= link_to 'Editar', edit_article_path(@article) %> |
    <%= link_to 'Panel', articles_path %>
  <% end %>
</div>
