<p>
  <strong>Seccion:</strong>
  <%= @article.seccion %>
</p>
<p>
  <strong>Volanta:</strong>
  <%= @article.volanta %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @article.titulo %>
</p>

<% if @article.image.present? %>
  <div style="width:300px; height:auto" >
    <%= image_tag(@article.image, style:'width:100%') %>
  </div>
<% end %>

<p>
  <strong>Bajada:</strong>
  <%= @article.bajada %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @article.autor %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <div class="cuerpo">
    <%= @article.cuerpo %>
  </div>
</p>

<p>
  <strong>Publicado:</strong>
  <%= @article.publicado %>
</p>

<p>
  <strong>Area:</strong>
  <%= @article.area %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @article.ubicacion %>
</p>

<% if @article.imagedos.present? %>
  <div style="width:300px; height:auto" >
    <%= image_tag(@article.imagedos, style:'width:100%') %>
  </div>
<% end %>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
