<!DOCTYPE html>
<html>
  <head>
    <title>Nombre del portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <header>
        <div class="titulo__portal">
          Artículos de actualidad
        </div>
      </header>
      <nav>
        <ul>
          <li>
            <%= link_to 'Portada', home_path %>
          </li>
              <% if signed_in? %>
                <% if @isAdmin %>
                  <li>
                    <%= link_to 'Panel de Edición', articles_path %>
                  </li>
                <% end %>
                <li>
                  <%= link_to "Salir", destroy_user_session_path, method: :delete %>
                </li>
              <% else %>
                <li>
                  <%= link_to "Registrarse", new_user_registration_path %>
                </li>
                <li>
                  <%= link_to "Ingresar", new_user_session_path %>
                </li>
              <% end %>
          </ul>
        </nav>
      <%= yield %>
  </body>
</html>
