<!DOCTYPE html>
<html>
  <head>
    <title>P1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <%= link_to 'Portada', home_path %>
        </li>
         <li>
          <%= link_to 'Artículos', articles_path %>
        </li>
        <li>
          <div>
            <% if signed_in? %>
              <%= link_to "Salir", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "Registrarse", new_user_registration_path %>
              <%= link_to "Ingresar", new_user_session_path %>
            <% end %>
          </div>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
